body{
    background:gray;
    color:white;
    font-family:'Archivo Black', sans-serif;
    margin: 0;
    padding: 0;
}
/*HEADER*/
header{
    background-color: white;
    /*BACKGROUND IMAGE*/
    background-image:url("images/avengers.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    height: 300px;
    padding: 20px;
    text-align: center;
}
header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px;
}


header .logo{
    background-image: url("images/logo.png");
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    height: 80px;
    position: static;
    text-indent: -9999999px;
    top: -20px;
    width: 300px;

}
/*NAVIGATION*/
nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
   
}

nav li{
    display: inline-block;
    margin-left: 20px;
   
}
a:hover {
    
    color: red;
  }
  
h1 {
    font-family: 'Archivo Black', sans-serif;;
    background:red;
    color:white;
    text-align: center;
}
h2 {
    font-family: 'Pacifico', cursive;
    background:red;
    color:white;
    text-align: center;
}
h3{
    font-family: 'Pacifico', cursive;
    background:red;
    color:black;
    text-align: center;
    
}
/*FEATURE*/
.feature{
    background: white;
    color:black;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}
.feature figure{
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
    
}
.feature figure img{
    border: 1px solid white;
    background-size:200px;
    
    box-shadow: rgb(0, 0, 0) 0 0 10px;
    width: 200px;

  }
  h2 { font-family:serif;
    font-size: 30px;
    font-family: serif;
    text-align-last: center;
    text-decoration-line: underline
  }
  
  /* Style inputs */
 input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  
  }
   footer{

    background: black;
    color: gray;
    font-family: 'Pacifico', cursive;
    font-size: 12px;
    padding:20px 20px;
    text-align: center;
}
/*RESPONSIVE RULES*/

/*MEDIA QUERIES MOBILE PHONES ONLY*/
@media screen and (max-width:450px){

    header {
        height: 300px;
         }
    header .mobile{
    display: list-item;
    font-size: 10px;
    text-align: left;
    padding: 7px;


    }

    section {
        height: 300;
    }
    footer{
        padding: 7px ;

    }
}